td
{
	width: 222px;
}

#divAuthenticationButton
{
	position: relative;
}

#divAuthenticationContainer div.formAuthenticateButtons *
{
	float: left;
	font-size: 12px;
	padding: 2px;
	position: relative;
}

#divAuthenticationContainer div.formAuthenticateButtons a
{
	-moz-border-radius: 5px 5px 5px %2px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-transition: all 0.3s ease-in-out;
	background-color: black;
	color: #c4d92e;
	margin: 0px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

#divAuthenticationContainer div.formAuthenticateButtons div.divButtonAdjacentText
{
	margin-top: 2px;
}

#divAuthenticationPlaceHolder
{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #dadada;
	filter: alpha(opacity=97);
	opacity: 0.97;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 40px;
	z-index: 999;
}

#divAuthenticationPlaceHolder *
{
	z-index: 999;
}

#divAuthenticationPlaceHolder label, #divSignUpPlaceHolder label
{
	margin-left: 2px;
}

#divSignUpPlaceHolder
{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #dadada;
	filter: alpha(opacity=97);
	opacity: 0.97;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 40px;
	width: 452px;
	z-index: 999;
}

#divSignUpPlaceHolder *
{
	z-index: 999;
}

#divSignUpPictureButtonContainer
{
	float: left;
}

#divSignUpSignUpButtonContainer
{
	float: right;
}

#divAuthenticateValidationMessage
{
	width: 120px;
}

#divAuthenticateValidationMessage, #divSignUpValidationMessage
{
	display: none;
	color: red;
	font-size: 12px;
	margin-left: 5px;
}

#divSignUpPictureNamePlaceholder
{
	font-size: 12px;
	margin: 10px 0px 0px 5px;
	width: 120px;
}

#txtSignUpDescription
{
	margin-left: 2px;
	width: 438px;
}

.datepickerInput
{
	width: 66px;
}

.textInput
{
	width: 216px;
}

/* jQuery UI overrides */
.ui-datepicker
{
	font-size: 80%;
}
/* /jQuery UI overrides */

/* SelectBoxIt overrides */
#selectSignUpGenderSelectBoxItContainer
{
	margin-top: 16px;
}
/* /SelectBoxIt overrides */