#divFAQContainer
{
	opacity: 0.5;
}

.faqContent
{
	font-size: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.faqContentWrapper
{
	padding: 0px !important;
}