#divCreateAdFormContainer h1
{
	line-height: 30px;
}

#divCreateAdFormContainer h1, #divNotLoggedInContainer p
{
	margin: 10px 0px 10px 0px;
}

#formCreateAd
{
	float: right;
	width: 900px;
}

#txtDescription
{
	width: 892px;
}

.right
{
	float: right;
}