#h1HeadContainer
{
	color: #C4D92E;
	height: 76px;
	margin: 130px auto 0;
	position: relative;
	width: 900px;
}

#h1HeadContainer a
{
	display: block;
	font-size: 70px;
	font-weight: normal;
}

#h1HeadContainer a span.spanTitlePartOne
{
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#h1HeadContainer a:hover span.spanTitlePartOne
{
	color: #c4d92e;
}

#h1HeadContainer a :hover span.spanTitlePartTwo
{
	color: #fff;
}