#divQuickSearchFormContainer
{
	float: right;
	height: 200px;
	width: 230px;
}

#divSlideshow
{
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	float: left;
	height: 250px;
	margin: 0px;
	position: relative;
	width: 450px;
}

#divSlideshow > div
{
	color: white;
	cursor: pointer;
	margin: 0px;
	position: absolute;
}

#divWelcomeMessage
{
    float: left;
    height: 200px;
    width: 600px;
}