#divQuickSearchFormContainer
{
	float: right;
	height: 200px;
	width: 230px;
}

#divSlideshow
{
	float: left;
	height: 250px;
	margin: 0px;
	position: relative;
	width: 450px;
}

#divSlideshow > div
{
	color: white;
	cursor: pointer;
	margin: 0px;
	position: absolute;
}

#divWelcomeMessage
{
    float: left;
    height: 200px;
    width: 600px;
}

/* Fix for SelectBoxIt on iPad */
.selectboxit-container .selectboxit
{
	z-index: 0;
}
/* /Fix for SelectBoxIt on iPad */