#divAdContainer
{
	opacity: 0.5;
}

#divFilterButton
{
	right: 0px;
}

#divApplyFilterButton
{
	display: inline;
	right: 0px;
}

#divClearFilterButton
{
	display: inline;
	right: 80px;
}

#divPagination
{
    width: 600px;
}

.adContentWrapper
{
	padding: 0px !important;
}

.adContentWrapper > div
{
	font-size: 14px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.8em;
	padding-right: 2.2em;
}
.adHeadline > span
{
	float: right;
	font-size: 14px;
}

.adContent
{
	float: left;
}

.adContent a
{
	color: #c4d92e;
}

.adContent a:hover
{
	color: black;
}