#divAdContainer
{
	opacity: 0.5;
}

#divFilterButton
{
	right: 0px;
}

#divApplyFilterButton
{
	display: inline;
	right: 0px;
}

#divClearFilterButton
{
	display: inline;
	right: 80px;
}

#divPagination
{
    width: 600px;
}

.aButton
{
    line-height: 15px;
}

.adContentWrapper
{
	padding: 0px !important;
}

.adContentWrapper a
{
	color: #c4d92e;
}

.adContentWrapper a:hover
{
	color: black;
}

.adContentWrapper > div
{
	font-size: 14px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.8em;
	padding-right: 2.2em;
}

.adContentWrapper .adButton
{
	cursor: pointer;
	float: right;
	padding-left: 0em;
}

.adHeadline > span
{
	float: right;
	font-size: 14px;
}

.adContent
{
	float: left;
}

.aRSS
{
	background: url('../images/feed-icon-14x14.png') no-repeat 0 50%;
	float: right;
	font-size: small;
	line-height: 23px;
	margin-right: 50px;
	padding-left: 20px;
}

.divButton
{
	cursor: pointer;
    font-size: small;
    position: absolute;
}

.divButtonBackground
{
    margin: 2px;
	padding: 2px 5px;
}