li#menuAuthentication a.aMenuAnchor
{
	color: #c4d92e;
	display: block;
	float: left;
	font-size: 23px;
	margin-top: 6px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
}

li#menuSettings a
{
	color: #c4d92e;
	display: block;
	float: left;
	font-size: 23px;
	margin-top: 6px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
}

#divMenuPlaceHolder
{
	height: 70px;
}

#divMenuPlaceHolder ul#ulMenu
{
	background-image: url('../images/list_bg.png');
	background-repeat: repeat-x;
	height: 70px;
	list-style: none;
	padding-left: 0px;
}

#divMenuPlaceHolder ul#ulMenu li.liMenuItem a
{
	color: #c4d92e;
	display: block;
	float: left;
	font-size: 23px;
	margin-top: 6px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
}

#divMenuPlaceHolder ul#ulMenu li.liMenuItem a:hover , #divMenuPlaceHolder ul li.menuSelectedItem a
{
	color: white;
}

#menuAuthentication
{
	float: right;
}

#menuAuthentication .divButtonBackground
{
	padding: 0em;
}

#menuAuthentication #aAuthenticationButton
{
	line-height: 27px;
	padding-right: 0em;
}

#menuSettings
{
	display: none;
	float: right;
}