textarea
{
	width: 440px;
}

td
{
	width: 222px;
}

#divPasswordChangeButton
{
	margin-top: 4px;
}

#divSettingsContainer h1
{
	line-height: 30px;
}

#divSettingsContainer h1, #divSettingsContainer p
{
	margin: 10px 0px 10px 0px;
}

#divSettingsValidationMessage
{
	display: none;
	color: red;
	font-size: 12px;
	margin-left: 5px;
}

.datepickerInput
{
	width: 66px;
}

.right
{
	float: right;
	margin-left: 10px;
}

.textInput
{
	width: 216px;
}

/* jQuery UI overrides */
.ui-datepicker
{
	font-size: 80%;
}
/* /jQuery UI overrides */

/* SelectBoxIt overrides */
#selectGenderSelectBoxItContainer
{
	margin-top: 16px;
}
/* /SelectBoxIt overrides */