#divSettingsContainer h1
{
	line-height: 30px;
}

#divSettingsContainer h1, #divSettingsContainer p
{
	margin: 10px 0px 10px 0px;
}

#divSettingsValidationMessage
{
	display: none;
	color: red;
	font-size: 12px;
	margin-left: 5px;
}