a img
{
	border: none;
}

a:focus
{
	outline: none;
}

body
{
	background-color: black;
	background-image: url('../images/body_bg.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

body a
{
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	color: #c4d92e;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

body a:hover
{
	color: #fff;
}

body h2
{
	color: #c4d92e;
	font-size: 27px;
	font-weight: normal;
	margin-top: 0px;
}

body h3
{
	font-size: 27px;
	font-weight: normal;
	margin-bottom: 10px;
}

body p
{
	margin: 0px 0px 10px 0px;
}

form td
{
	vertical-align: top;
}

label.error
{
	color: red;
	font-size: 12px;
	margin-left: 5px;
	display: block;
}

/*** Basic page structure ***/
#divPageContainer
{
	background-image: url('../images/bg-shade.png');
	background-repeat: repeat;
	margin: 0px auto 0px auto;
	position: relative;
	width: 900px;
}

#divUpperContent
{
	color: white;
	margin: 0px auto;
	min-height: 400px;
	width: 900px;
}

#divLowerContent
{
	color: white;
	margin-top: 40px;
	width: 900px;
}

#divFooter
{
	color: #797979;
	font-size: 13px;
	height: 70px;
	margin: 0px;
	margin-top: 50px;
	text-align: center;
	width: 900px;
}
/*** /Basic page structure ***/

.divButton
{
	cursor: pointer;
}